extends ../../../templates/usernav.pug
block content
    .main-body
        .page-wrapper
            .page-header
                .page-header-title
                    h3 Previous Design
                .page-header-breadcrumb
                    ul.breadcrumb-title
                        li.breadcrumb-item
                            a(href='clindex')
                                i.icofont.icofont-home
                        li.breadcrumb-item
                            a(href='previous') Previous Design