extends ../../../templates/usernav.pug
block content
    .main-body
        .page-wrapper
            .page-header
                .page-header-title
                    h4 Returns
                .page-header-breadcrumb
                    ul.breadcrumb-title
                        li.breadcrumb-item
                            a(href='clindex')
                                i.icofont.icofont-home
                        li.breadcrumb-item
                            a(href='returns') Return Items
            .page-body
                .row
                    .col-sm-12
                        .card
                            .card-header
                                h5 Return Items
                                .card-header-right
                                    i.icofont.icofont-rounded-down
                                    i.icofont.icofont-refresh
                            .card-block.table-border-style
                                .table-responsive
                                    table.table
                                        thead
                                            tr
                                                th ID
                                                th Description
                                                th Date Returned
                                                th Qty
                                                
                                                //- th Actions
                                        tbody
                                            tr
                                                td RI00000001
                                                td T-Shirts
                                                td 14-Mar-2018
                                                td 15
                                            tr
                                                td RI00000002
                                                td Polo
                                                td 23-Apr-2017
                                                td 10
                                            tr
                                                td RI00000003
                                                td Pants
                                                td 08-Feb-2017
                                                td 13
                                            tr
                                                td RI00000004
                                                td T-Shirts
                                                td 14-Mar-2018
                                                td 15
                                            tr
                                                td RI00000005
                                                td Polo
                                                td 23-Apr-2017
                                                td 10
                                            tr
                                                td RI00000006
                                                td Pants
                                                td 08-Feb-2017
                                                td 13
                                            tr
                                                td RI00000007
                                                td T-Shirts
                                                td 14-Mar-2018
                                                td 15
                                            tr
                                                td RI00000008
                                                td Polo
                                                td 23-Apr-2017
                                                td 10
                                            tr
                                                td RI00000009
                                                td Pants
                                                td 08-Feb-2017
                                                td 13
