extends ../../../templates/masternav
block content
    .main-body
        .page-wrapper
            .page-header
                .page-header-title
                    h4 QUERIES
                .page-header-breadcrumb
                    ul.breadcrumb-title
                        li.breadcrumb-item
                            a(href='/index')
                                i.icofont.icofont-home
                        li.breadcrumb-item
                            a(href='/queries') Queries
            .page-body