extends ../../../templates/masternav
block content
    .main-body
        .page-wrapper
            .page-header
                .page-header-title
                    h4 TRANSACTIONS
                .page-header-breadcrumb
                    ul.breadcrumb-title
                        li.breadcrumb-item
                            a(href='#')
                                i.icofont.icofont-home
                        li.breadcrumb-item
                            a(href='#') Transactions
            .page-body