extends ../../../templates/subcon-nav.pug
block content
    .main-body
        .page-wrapper
            .page-header
                .page-header-title
                    h4 Monitoring Sheet
                .page-header-breadcrumb
                    ul.breadcrumb-title
                        li.breadcrumb-item
                            a(href='subcon-index')
                                i.icofont.icofont-home
                        li.breadcrumb-item
                            a(href='deliverables') Monitoring-Sheet
            .page-body
                .row
                    .col-sm-12
                        .card
                            .card-header
                                .card-header-right
                                    i.icofont.icofont-rounded-down
                                    i.icofont.icofont-refresh
                            .card-block.table-border-style
                                .table-responsive
                                    table.table
                                        thead
                                            tr
                                                th Product Name
                                                th Size
                                                th QTY
                                                th Date Started
                                                th Forcast Date
                                                th Remarks
                                        tbody
                                            tr
                                                td 
                                                td 
                                                td 
                                                td 
                                            tr
                                                td 
                                                td 
                                                td 
                                                td 
                                            tr
                                                td 
                                                td 
                                                td 
                                                td 