extends ../../../templates/ph.pug
block content
    .main-body
        .page-wrapper
            .page-header
                .page-header-title
                    h4 Inventory
                .page-header-breadcrumb
                    ul.breadcrumb-title
                        li.breadcrumb-item
                            a(href='clindex')
                                i.icofont.icofont-home
                        li.breadcrumb-item
                            a(href='inventory') Inventory
            .page-body
                .row
                    .col-sm-12
                        .card
                            .card-header
                                h5 
                                .card-header-right
                                    i.icofont.icofont-rounded-down
                                    i.icofont.icofont-refresh
                            .card-block.table-border-style
                                .table-responsive
                                    table.table
                                        thead
                                            tr
                                                th ID
                                                th Description
                                                th Type
                                                th Status
                                                th UOM
                                                th Qty
                                        tbody
                                            tr
                                                td 00000067
                                                td Satin
                                                td Material
                                                td Good
                                                td Meters
                                                td 12
                                            tr
                                                td 00000078
                                                td Cotton, Coverall, Plain
                                                td Product
                                                td Good
                                                td Unit
                                                td 23
                                            tr
                                                td 00000090
                                                td Coton
                                                td Material
                                                td Damaged
                                                td Meters
                                                td 20
                                            tr
                                                td 00000034
                                                td Cotton, Coverall, Plain , Reflector
                                                td Product
                                                td Loss
                                                td Unit
                                                td 7
                                            tr
                                                td 00000023
                                                td Satin
                                                td Material
                                                td Damaged
                                                td Meters
                                                td 12
                                            tr
                                                td 00000034
                                                td Cotton, Coverall, Plain
                                                td Product
                                                td Loss
                                                td Unit
                                                td 15
                                            tr
                                                td 00000046
                                                td Coton
                                                td Material
                                                td Damaged
                                                td Meters
                                                td 20
                                            tr
                                                td 00000034
                                                td Cotton, Coverall, Plain , Reflector
                                                td Product
                                                td Loss
                                                td Unit
                                                td 7