extends ../../../templates/ph.pug
block content
    .main-body
        .page-wrapper
            .page-header
                .page-header-title
                    h4 Reports
                .page-header-breadcrumb
                    ul.breadcrumb-title
                        li.breadcrumb-item
                            a(href='clindex')
                                i.icofont.icofont-home
                        li.breadcrumb-item
                            a(href='clindex') Reports
            .page-body
